body{
    background-color: #e8e8e8;
}

#content{
    width: 80%;
    height: 200px;;
    margin-left: 10%;
    margin-right: 10%;
}

#advert{
    font-family: Roboto;
    font-size: 14px;
    color: #000000;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    position: relative;
    top:27px;
}